@media (min-width: 481px) and (max-width: 1024px)
{
	#section
	{
		flex-direction: column-reverse;
	}

	#aside1
	{
		margin-left: 0px;
		margin-bottom: 30px;
		height: auto;
	}

	#hotels2
	{
		justify-content: center;
	}

	.hotels_populaires
	{
		margin: 5px 10px 30px 20px;
	}
	
}

@media (max-width: 880px)
{
	#ActivityMars
	{
		flex-wrap: wrap;
		justify-content: center;
	}

	#Activites_titre
	{
		padding-left: 20px;
		padding-bottom: 20px;
	}

	.ActivityMars_img 
	{
		height: 150px;
	}

	.ActivityMars_grand
	{
		min-width: 81%;
		height: 200px;
	}

	.ActivityMars_petitbloc
	{
		width: 90%;
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.ActivityMars_petit
	{
		width: 90%;
		height: 200px;
		margin-right: 0;
	}

	#Calanques 
	{
		margin-left: -4px;
	} 


}

@media screen and (max-width: 480px) {

	html , body 
	{
		margin: 0px;
	}

	#section
	{
		flex-direction: column-reverse;
	}

	#bloc_page {
		width: 100%;
		max-width: unset;
		padding: 0;
	}

	/* HEADER */
	#header-pc {
		display: none;
	}

	#header-mobile {
		display: flex;
		flex-direction: column;
	}

	.header-mobile-row {
		display: flex;
		flex-direction: row;
	}

	.header-mobile-row div {
		flex: 1;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.header-mobile-row div a {
		color: #0065FC
	}

	#inscription-mobile a {
		font-weight: bold;
	}

	#activite-mobile a {
		color: grey;
	}

	#activite-mobile
	{
		border-bottom: inset 2px lightgrey;
	}

	#hebergement-mobile {
		border-bottom: inset 2px #0065FC
	}


	#logo-mobile img {
		width: 60%;
	}

	/* page wrapper */
	
	h1 , h2
	{
		font-size: 23px;
	}
	
	p
	{
		font-size: 15px;
	}

	h4 
	{
		font-size: 17px ;
	}

	/* Recherche et filtres */
	#search-container {
		padding: 0px 20px;
	}

	#input-search 
	{
		width: 100%;
		min-width: unset;
	}

	#label
	{
		display: flex;
		font-size: 16px;
		margin-bottom: 15px;
	}

	#formul {
		margin-top: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: unset;
	}

	.filtres {
		margin-left: unset;
	}

	/* populaires */
	#aside1
	{
		border-radius: 0px;
		margin-left: 0px;
		padding-bottom: 30px;
	}

	.hotels_populaires
	{
		width: 80%;
		height: 150px;
		border-radius: 20px;
	}

	.hotels_populaires_img
	{
		height: 100%;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.bloc_hotels_populaires
	{
		width: 170px;
		margin: 5px 10px 0 0;
		padding: 0px 0px 10px 0px;
	}


	/* Herbergements */
	#article1
	{
		background-color: white;
		border: none;
		height: auto;
	}

	.hotels_hebergements
	{
		width: 80%;
		margin-bottom: 25px;
		margin-left: 8px;
		border-radius: 20px;
		padding-bottom: 15px;
	}

	.hotels_hebergements_img
	{
		min-height: 120px;
		border-top-right-radius: 15px;
		border-top-left-radius: 15px;
	}

	.hotels_hebergements p
	{
		margin-top: -15px;
	}

	.etoiles1 , .etoiles2
	{
		font-size: 12px;
		margin-top: -9px;
	}

	#afficher
	{
		font-size: 18px;
		margin-left: 20px ;
	}
	
	/* activites */
	.ActivityMars_petitbloc
	{
		margin-left: -20px;
	}

	.ActivityMars_grand
	{
		min-width: 81%;
	}

	/* footer */
	#Footer
	{
		flex-direction: column;
		padding-bottom: 50px;
	}

	#Footer p
	{
		font-size: 15px;
		margin-bottom: -5px;
	}

	#Footer h5 
	{
		font-size: 17.5px;
		margin-bottom: 0px;
	}

	.Footer_bloc
	{
		margin-bottom: 20px;
		margin-left: 50px;
		width: auto;
	}
}