@media only screen and (max-device-width : 480px)	
{
	/* page wrapper */
	#bloc_page 
	{
		width: auto;
		justify-content: center;	
	}
	
	h1 , h2
	{
		font-size: 21px ;
		font-weight: bold;
	}
	
	p 
	{
		font-size: 14px;
	}

	h4 
	{
		font-size: 15px ;
	}

	/* header */
	header 
	{
		display: flex;
		justify-content: center ;
	}
	
	.logo {
		position: relative;
		left: 60px;
		bottom: 84px;
		width: 95px;
		height:43px;
	}
	
	nav ul {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 70px;
	}
	
	nav li
	{
		margin-left: 50px;
		margin-right: 20px;
		font-size: 17px;
	}

	#hebergements {
		border-bottom: 2px solid #0065FC;
		padding-bottom:15px;
		padding-right: 95px;
		padding-left: 90px;
		position: relative;
		right: 200px;
		top: 75px;
	}

	#hebergements:hover 
	{
		border-top: none;
	}

	#activites
	{
		border-bottom: 2px solid lightgrey;
		padding-bottom: 15px;
		padding-right: 85px;
		padding-left: 75px;
		position: relative;
		top: 58px;
		left: 40px;
	}

	#activites:hover
	{
		border-top: none;
		border-color: #0065FC;
	}

	#inscription
	{
		position: relative;
		left: 170px;
		bottom: 25px;
	}

	#inscription:hover
	{
		border-top: none;
	}

	/* Recherche et filtres */
	a i {
		width: 23px;
		height: 20px;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		font-size: 16px;
		padding-top: 5px;
		top: -0.2px;
	}
	
	#search 
	{
		width: 49px;
		height: 49px;
		font-size: 0;
		border-radius: 11px;
		top: -6px;
		left: 227px;
		
	}
	
	.loupe 
	{
		color: white;
		position: relative;
		left: 292px;
		bottom: 40px;
		font-size: 17px;

	}

	#search:hover
	{
		color: #DEEBFF;
	}
	
	input:nth-child(2)
	{
		width: 220px;
		height: 43px;
		font-size: 15px;
	}

	label
	{
		display: flex;
		margin-bottom: 20px;
		margin-top: -20px;
		font-size: 15px;
	}

	#formul
	{
		height: auto;
		width: 319px;
	}

	#formul input
	{
		margin-bottom: 10px;

	}

	#formul i
	{
	width: 25px;
	height: 20px; 
	font-size: 17px;
	padding-top: 2px;
	display: flex;
	
	}

	#formul i:nth-child(4)
 	{
 		position: absolute;
 		left: 175px;
 		top: 355px;
 		padding-left: 3px;
 		width: 17px;

 	}


	#formul input
	{	
		width: 160px;
		height: 60px;
		font-size: 15px;
		text-align: right;
		padding-right: 16px;
		margin-right: 10px;
	
	}


	#formul input:nth-child(5) {
		width: 117px;
	}
	
	#formul input:last-child
	{
		width: 195px; 
	}

	/* Herbergements */
	#article1
	{
		background-color: white;
		border: none;
	}

	section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	border-radius: 0px;
	}

	/* populaires */
	.populaires i
	{
		font-size: 20px;
	}

	.populaires 
	{
		margin-left: 30px;
		margin-right: 30px;
	}

	
	aside 
	{
		border-radius: 0px;
		margin: -30px;
	}

	#hotels2 figure 
	{
		width: 325px;
		height: 139px;
		border-radius: 21px;
		margin-bottom: 15px;
		margin-right: 35px;
	}


	#hotels2 img
	{
		width: 120px ;
		height: 139px;
		border-top-left-radius: 21px;
		border-bottom-left-radius: 21px;
	}

	#hotels2 h4
	{
		width: 160px;
		padding-top: 5px;
		margin-bottom: 15px;
	}


	#hotels2 p 
	{
		margin-bottom: 24px;
		width: 200px;

	}
	#BlocSoleil p 
	{
		padding-top: 10px;
	}
	
	.etoiles2
	{
		font-size: 11px;

	}

	#hotels figure 
	{
		width: 335px;
		height: 185px;
		border-radius: 23px;
		margin-bottom: 15px;

	}

	#hotels img 
	{
		width: 335px;
		height: 110px ;
		border-top-left-radius: 23px;
		border-top-right-radius:23px;
		
	}

	#hotels h2
	{
		margin-left: 10px;
	}

	#hotels h4 
	{
		margin-top: 4px;
		margin-left: 4px;
		margin-bottom: 14px;
	}

	#hotels p 
	{
		margin-left: 4px;
		margin-bottom: 12px;
		
	}

	.etoiles1 
	{
		font-size: 11px;
		margin-left: 4px;
	}

	#article1 
	{
		margin-top: 40px;
	}

	#article2
	{
		margin-top: 670px;
	}

	.afficher 
	{
		position: relative;
		top: 930px;
		right: 4px;
		font-size: 18px;
	}

	/* activites */
	#article2 h2 
	{
		margin-left: 25px;
		margin-top: 230px;
		margin-bottom: -8px;
	}

	#ActivityMars
	{
		flex-direction: column;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		margin-top: 30px;
	}

	#DameEtParc , #FortEtFrioul
	{
	display: flex;
	flex-direction: column;
	}

	#ActivityMars figure 
	{
		width: 345px;
		height: 187px;
		margin-left: -10px;
	}

	#ActivityMars h4
	{
		padding-top: 3px;
	}

	#ActivityMars img 
	{
		width: 345px;
		height: 130px ;
	}

	/* footer */
	#Footer
	{
		display: flex;
		flex-direction: column;
		width: 650px;
		height: auto;
		padding-bottom: 50px;
		
	}

	#Footer p
{
	font-size: 16px;
	margin-bottom: -5px;
}

#Footer h5 
{
	font-size: 17.5px;
	margin-bottom: 0px;
}

.Propos 
{
	margin-left: 230px;
	margin-right: 0px;
	font-size: 15px;
	margin-bottom: 25px;
}

.Assistance
{
	margin-left: 230px;
	margin-top: 0px;
	font-size: 15px;
	width: 200px;
}

.Heberger 
{
	margin-left: 230px;
	font-size: 15px;
	margin-bottom: 25px;
}

}


@media (min-width: 480px) and (max-width: 767px)
{
	/* page wrapper */
	#bloc_page 
	{
		width: auto;
	}

	/* header */
	#activites , #hebergements , #inscription
	{
		font-size: 12px;
	}

	/* Recherche et filtres */

	#formul input:nth-child(9)
	{
		display: flex;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#formul i:nth-child(8)
	{
		display: flex;
		margin-top: 10px;
	}

	/* Herbergements */

	#hotels figure {

		min-width: 35%;
	}

	/* populaires */

	#hotels2 {
		flex-direction: row;
		flex-wrap: wrap;
	}

	#hotels2 figure 
	{
		min-width: 40%;
	}

	/* activites */

	#ActivityMars
	{
		width: auto;
		margin-top: 30px;
	}

	#VieuxPort, #Calanques , #DameEtParc , #FortEtFrioul
	{
	min-width: 80%;
	}

	#DameEtParc , #FortEtFrioul
	{
		margin-left: -25px;
	}

	/* footer */

	#Footer p 
	{
		font-size: 10px;
	}

	#Footer h5 
	{
		font-size: 12px;
	}

}

@media (max-width: 1024px)
{

/* page wrapper */

#bloc_page 
{
	width: auto;
	margin: auto;
}

p 
{
	font-size: 11.5px;
}

h1 
{
	font-size: 17px;
}

h2 
{
	font-size: 17px;
}

h4 
{
	font-size : 13px;
}

/* header */

nav li 
{
	font-size: 14px;
}

/* Recherche et filtres */

label 
{
	margin-right: 10px;
}
#formul i
{
	width: 14px;
	height: 14px;
}


#formul input
{	
	height: 34px;
	font-size: 12px;
	margin-right: 5px;

}

/* Herbergements */

#article1
{
	height: 100%;
	padding-left: 25px;	
}

section 
{
	flex-wrap: wrap ;
}

#hotels figure 
{
	max-width: 25%;
	min-width: 22%;
	height: auto;
	margin-right: 20px;
}

#hotels img 
{
	height: 120px;
}

.afficher
{
	position: relative;
	top: 15px;
	margin-bottom: 40px;
}

/* populaires */

aside
{
	margin-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	margin-left: 0px;	
}

#hotels2
{
	flex-direction: row;
	justify-content: center;
}

#hotels2 figure 
{
	width: 33%;
	height: 120px;
	margin: 20px;
}

#hotels2 p
{
	margin-bottom: -15px;
}

#BlocSoleil h4 
{
	margin-bottom: 22px;
}

#BlocSoleil p 
{
	margin-bottom: -4px;
}

#BlocEau h4 , #BlocTout h4
{
	margin-bottom: -7px;
}

#hotels2 img 
{
	height: 120px;
}

/* activites */

#ActivityMars
{
	flex-wrap: wrap;
	justify-content: center;
	height: auto;
	margin-bottom: 30px;
}

#ActivityMars img
{
	height: 150px;
}

#Fort , #NotreDame 
{
	margin-right: 30px;
}

#Calanques 
{
	margin-left: 0px;
}

#VieuxPort, #Calanques
{
	width: 25%;
}

#Fort , #Parc
{
	width: 50%;
}

#DameEtParc , #FortEtFrioul
{
	flex-direction: row;
	align-items: baseline;
}

/* footer */

#Footer
{	
	max-width: 950px;
	margin: auto;
	height: auto;
	padding-bottom: 30px;
}

}